<mat-card>
  <form (submit) = "onAddPost(postForm)" #postForm = "ngForm">
    <mat-form-field>
      <input matInput type="text" ngModel name = "title" required minlength= "3"
      #title = "ngModel" placeholder="Add Title">
      <mat-error *ngIf = "title.invalid"> Please Enter Post Title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" ngModel name = "content" required #content = "ngModel" placeholder="Add Content"></textarea>
      <mat-error *ngIf = "content.invalid"> Please Enter Post Content</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type = "submit" 
      >Save Post</button>
  </form>
  
</mat-card>
